<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.min.css"/>
        <script src="/static/bootstrap/jquery-3.4.1.min.js"></script>
        <script src="/static/bootstrap/bootstrap.min.js"></script>
        <script>
            function submitted() {
                $('#progress').css('display', 'block');
                $('#message').css('display', 'none');
                $('button').attr("disabled", true);
                return true;
            }
        </script>
        <title>Browser-Based Secure Analytics Environment</title>
    </head>
    <body>
            <div class="container">

                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <a class="navbar-brand" href="/selfserve/main">Browser-Based Secure Analytics Environment</a>
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                </ul>
                                <span class="navbar-text my-2 my-lg-0">
                                        {{username}} |
                                        <a href="{{logout_url}}">Logout</a>
                                </span>                                
                            </div>
                    </nav>

                    {% if message %}
                        <div class="alert alert-primary m-3" role="alert" id="message">
                            {{ message }}
                        </div>
                    {% endif %}
                    
                    <div class="alert alert-info m-3" role="alert" id="progress" style="display:none; vertical-align:middle">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span class="">Please wait... it can take a minute or two.</span>
                    </div>

                    <div class="card m-3">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {{tab['registration']}}" id="registration-tab" data-toggle="tab" href="#registration" role="tab" aria-controls="registration" aria-selected="false">Registration</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade {{tab['registration']}}" id="registration" role="tabpanel" aria-labelledby="registration-tab">
                                        <h3>Groups</h3>
                                        <div id="registration_root"></div>
                                        <h3>Identity Claims</h3>
                                        <pre>{{ jwt_info }}</pre>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>

            <script src="/static/react/react.min.js"></script>
            <script src="/static/react/react-dom.min.js"></script>
            <script src="/static/react/browser.min.js"></script>
    
            <script type="text/babel" src="/static/app/registration.jsx"></script>

    </body>
</html>
